.form {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 40px;

  &__heading {
    width: 100%;
    margin-top: 20px;
  }
  &__group,
  fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  fieldset {
    width: 100%;
    border: none;
    margin-top: 0;
  }
  &__group.checkbox {
    .form__field {
      width: 50%;
      margin-top: 0;

      label {
        // padding-left: 10px;
        display: inline-block;
      }
      input {
        width: auto;
        margin-right: 10px;
      }
    }
  }
  &__field {
    width: 100%;
    margin-top: 20px;
  }
  &__image {
    position: relative;
    width: 100%;
    height: 200px;
    // align-self: flex-start;
  }
  &__modificators {
    margin: 10px 10px 40px;
    font-size: $font-step--1;
    position: relative;

    > :first-child {
      position: absolute;
      left: 0;
    }
    > :last-child {
      position: absolute;
      right: 0;
    }
  }

  label {
    display: block;
    font-size: $font-step--1;
    margin-bottom: 6px;
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
  &__submit {
    display: flex;
    justify-content: flex-end;
    .btn {
      margin-top: 20px;
    }
  }

  input,
  select,
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.4rem;
    background-color: darken($color-white, 8%);
    background-color: $color-primary-lighter;
    border: none;
    border-bottom: 1px solid $color-primary;

    &:focus {
      background-color: $color-highlight-lighter;
    }
    &.short {
      width: 60%;
    }
  }
  select {
    // width: 80%;
  }

  // Form validation
  &__warning {
    display: block;
    color: $color-secondary;
    font-size: $font-step--2;
    text-align: right;
  }
  &__description {
    margin-top: 0;
    color: $color-primary;
    font-size: $font-step--2;
  }

  &__success,
  &__error {
    margin-top: 40px;
    color: $color-black;
    display: none;
    position: fixed;
    bottom: 20px;
    // left: 10px;
    text-align: center;
    padding: 6px 0;
    border-radius: 4px;
    opacity: 0;
    @include transitionModal($prop: opacity);

    &.show {
      display: block;
      opacity: 1;
    }
  }
  &__success {
    background-color: $color-green;
  }
  &__error {
    background-color: $color-secondary;
  }

  @media (max-width: $l) {
    width: 90%;
  }
}
