.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;

  // Set default alignment
  > * {
    @extend .alignwide;
  }
  // Specified element widths
  .alignfull {
    grid-column: 1 / 13;
  }
  .alignwide {
    grid-column: 2 / 12;
    @media (max-width: $s) {
      grid-column: 1 / 13;
    }
  }
  .alignhalf {
    grid-column: 1 / span 6;
  }
  .alignshort {
    grid-column: 1 / span 4;
  }
}
