.page-header {
  @include headerTransition($duration: 0.4s);
  height: $headerHeight;
  width: 100%;
  position: fixed;
  z-index: 2;
  white-space: nowrap;
  overflow: hidden;
  color: $color-white;

  &__hamburger {
    position: absolute;
    z-index: 10;
    right: 40px;
    top: calc($headerHeight - ($headerHeight / 1.65));
    cursor: pointer;
    align-items: center;
    display: flex;
    svg {
      margin-left: 20px;
      line {
        transform: translate(0%, 0%) rotate(0deg);
        opacity: 1;
        transition: transform 0.5s ease, stroke 0.5s ease;

        stroke: $color-white;
      }
    }
  }
  &__wrapper {
    @include headerTransition($duration: 0.4s);
    position: relative;
    display: inline-block;
    width: 20%;
    height: 100%;
    background-color: $color-primary;
  }
  &__angle {
    background: url("../../public/images/triangle-primary.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 100%;
    height: 100%;

    // margin-left: -0.6px;
  }
  &__nav-wrapper {
    @include headerTransition($duration: 0.4s);
    position: absolute;
    width: 0;
    height: 100%;
    background-color: $color-primary;
    top: 0;
    z-index: 0;

    nav {
      padding-top: $headerHeight;
      position: absolute;
      width: 100vw;
      display: flex;
      // border: 1px dashed $color-primary-lighter;
    }
  }
  &__menu {
    @include headerTransition($duration: 0.2s, $delay: 0s, $prop: opacity);
    opacity: 0;

    .menu__item {
      a {
        @include transitionHover($prop: color);
      }

      &:hover {
        a {
          color: $color-highlight;
        }
      }

      &.active {
        a {
          color: $color-orange;
        }
      }
    }
  }

  &__logo-wrapper {
    height: $headerHeight;
    // width: 80%;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    z-index: 100;
  }
  &__logo {
    height: calc($headerHeight - 30px);

    .text {
      fill: $color-highlight;
    }
    .line {
      fill: $color-secondary;
    }
    .tag {
      fill: white;
    }
  }
  // Navigation menu opens
  &--active {
    height: 100vh;
    .page-header__wrapper {
      width: 100%;
      @include headerTransition($duration: 0.8s, $delay: 0.2s);
    }
    .page-header__nav-wrapper {
      width: 100%;
      @include headerTransition($duration: 0.8s, $delay: 0.2s);
    }
    .page-header__hamburger {
      line {
        stroke: $color-orange;
        transition: transform 0.5s ease, stroke 0.5s ease 0.4s;
      }
      line:nth-child(1) {
        transform: rotate(45deg) translate(15%, -5%);
      }
      line:nth-child(2) {
        opacity: 0;
      }
      line:nth-child(3) {
        transform: rotate(-45deg) translate(-70%, 0%);
      }
    }
    .page-header__menu {
      @include headerTransition($duration: 0.8s, $delay: 0.4s, $prop: opacity);
      opacity: 1;
    }
  }
  a {
    color: $color-white;
    text-decoration: none;
  }
}
