.message {
  display: flex;
  flex-direction: column;
  padding: 0 6px;
  margin: 4px;
  font-size: $font-step--1;
  background-color: $color-primary-lighter;
  border: 1px solid $color-primary;
  border-radius: 2px;

  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__delete {
    padding-top: 10px;

    .wrapper {
      display: flex;
      align-items: center;
      column-gap: 4px;
      color: darken($color-orange, 16%);
      cursor: pointer;
      path {
        fill: darken($color-orange, 16%);
      }
      &:hover {
        text-decoration: underline;
      }
      .text {
      }
      .icon {
        // width: 14px;
        height: 18px;
        svg {
          height: 90%;
        }
      }
    }
  }
  &__delete-warning {
    font-size: $font-step-1;
    text-align: center;
  }
  &__delete-buttons {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    margin-bottom: 20px;
  }
  &__title {
    color: $color-primary;
  }
  &__time {
    margin-bottom: 6px;
    font-size: $font-step--2;
    color: darken($color-green, 45%);
  }
  &__body {
    position: relative;
    margin: 10px 0;
    overflow: hidden;

    table {
      width: 100%;
      table-layout: fixed;
      th {
        text-align: left;
      }
      td {
        padding-right: 10px;
        vertical-align: top;
      }
    }
  }
  &__expand {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &__message {
    max-height: 0;
    margin: 20px 0;
    overflow: hidden;
    @include transitionModal($prop: max-height);

    &--open {
      max-height: 400px;
    }
  }
  &__stay-dates {
    color: $color-secondary;
  }
  .modal {
    align-items: center;
  }
}
