.top-cover {
  @extend .alignfull;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: $color-highlight-lighter;

  &--large {
    height: 100vh;
  }
  &--medium {
    height: 70vh;
  }
  &--small {
    height: 50vh;
  }
  &__inner-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: $headerHeight;
    // Overlay
    background-color: rgba(0, 0, 0, 0.3);
    color: $color-white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    &.video-overlay {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  video {
    position: absolute;
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
