.dashboard {
  &__messages {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
  }
  &__admin-messages {
    border: 1px dashed salmon;
    width: 100%;
    .message {
      background-color: $color-highlight-lighter;

      &__title {
        color: $color-secondary;
      }
    }
  }
  &__hotel-requests {
    border: 1px dashed salmon;
    width: 100%;
  }
}
