.dashboard {
  &__wrapper {
    // margin-top: 20px;
  }
  &__menu {
    display: flex;
    justify-content: center;
    column-gap: $columnGap;
    padding: 40px;
    background-color: $color-highlight-lighter;
  }
  &__messages {
    display: flex;
    justify-content: space-between;
    column-gap: $columnGap;
  }
  &__admin-messages {
    width: 100%;
    .message {
      background-color: $color-highlight-lighter;

      &__title {
        color: $color-secondary;
      }
    }
  }
  &__hotel-requests {
    width: 100%;
  }
}
