.dashboard {
  &__menu {
    display: flex;
    justify-content: center;
    column-gap: $columnGap;
    padding: 40px;
    background-color: $color-highlight-lighter;
  }
  &__messages {
    display: flex;
    justify-content: space-between;
    column-gap: $columnGap;
  }
  &__admin-messages {
    width: 100%;
    .message {
      background-color: $color-highlight-lighter;

      &__title {
        color: $color-secondary;
      }
    }
  }
  &__hotel-requests {
    width: 100%;
  }
  @media (max-width: $m) {
    &__messages {
      flex-direction: column;
    }
  }

  @media (max-width: $s) {
    &__menu {
      flex-direction: column;
      align-items: center;
    }
  }
}
