.home {
  h1 {
    @include hiddenText();
  }

  .top-cover {
    &__inner-container {
      padding-top: 16%;
      justify-content: flex-start;
    }
  }
  &__cta-button {
    position: absolute;
    bottom: 80px;
    right: 40px;
  }
}
