.single-page {
  .top-cover {
    margin-bottom: 20px;
  }
  &__details {
    @include alignshort($start: 2);
    @media (max-width: $l) {
      grid-column: 2 / 12;
    }

    > *:not(:first-child) {
      margin-top: 24px;
    }
  }
  &__content-heading {
    margin-bottom: 0;
  }

  &__image-carousel {
    @include alignhalf($start: 6);
    @media (max-width: $l) {
      grid-column: 2 / 12;
      height: 440px;
    }
    @media (max-width: $m) {
      grid-column: 1 / 13;
    }
  }
}
