@import url("https://use.typekit.net/abt4ylz.css");

// Colors
$color-black: #2b2b2b;
$color-white: #fafafa;
$color-purple: #513580;
$color-purple-lighter: #f3edff;
$color-yellow: #faf443;
$color-yellow-lighter: #faf8cb;
$color-orange: #ff8742;
$color-green: #b5f5a9;

$color-primary: $color-purple;
$color-primary-lighter: $color-purple-lighter;
$color-highlight: $color-yellow;
$color-highlight-lighter: $color-yellow-lighter;
$color-secondary: $color-orange;
$color-tertiary: $color-green;
