body {
  background-color: $color-white;
}

// Swiper globals
// Navigation buttons
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 0;
  margin-top: 0;
  width: 40px;
  height: 100%;
  color: $color-white;
  background-color: rgba($color-black, 0.3);
  @include transitionHover();

  &:hover {
    color: $color-highlight;
    background-color: rgba($color-black, 0.6);
  }

  &::after {
    // color: red;
  }
}
.swiper-button-prev {
  left: 0;
}
.swiper-button-next {
  right: 0;
}
