@mixin font-thin {
  font-weight: 200;
}
@mixin font-regular {
  font-weight: 400;
}
@mixin font-bold {
  font-weight: 700;
}
@mixin font-extrabold {
  font-weight: 800;
}
:root {
  font-family: "motiva-sans", sans-serif;
  color: $color-black;
}
body {
  @include font-regular();
  font-size: $font-step-0;
}
%heading {
  @include font-extrabold();
  text-transform: uppercase;
}
h1 {
  @extend %heading;
  font-size: $font-step-6;
}
h2 {
  @extend %heading;
  font-size: $font-step-4;
}
h3 {
  @extend %heading;
  font-size: $font-step-3;
}
h4 {
  @extend %heading;
  font-size: $font-step-1;
}
a {
  color: $color-orange;
  // text-decoration: none;
}
.menu__item {
  @include font-thin();
  font-size: $font-step-3;
}
