.search {
  //   position: relative;
  input {
    background-color: $color-highlight-lighter;
    border-color: $color-orange;
  }
  .form__group {
    position: relative;
  }
  &__results {
    background-color: $color-primary-lighter;
    position: absolute;
    top: 100%;
    z-index: 1;
    width: 100%;
    max-height: 500px;
    overflow-y: auto;

    .card {
      min-height: auto;
      height: 200px;
    }
  }
}
