.search {
  margin-top: 20px;
  width: 70%;
  background-color: $color-primary-lighter;
  padding: 10px 40px 40px;
  border-radius: 6px;
  border: 1px solid darken($color-primary-lighter, 5%);
  transition: box-shadow 0.3s ease-in-out;
  &:hover {
    @include shadow();
  }

  &__icon {
    // border: 1px dashed salmon;
    padding-left: 18px;
    width: 60px;
    height: 48px;
    svg {
      height: 100%;
      fill: darken($color-white, 14%);
    }
  }
  input {
    background-color: $color-highlight-lighter;
    border-width: 2px;
    border-color: $color-orange;
    padding: 20px 10px;
    font-size: $font-step-1;
  }
  .form__group {
    position: relative;
    align-items: center;
    flex-wrap: nowrap;
  }
  &__results {
    @include shadow();
    @include boxHeightTransition($prop: max-height);

    background-color: $color-white;
    position: absolute;
    top: 100%;
    z-index: 2;
    width: 100%;
    max-height: 0;
    overflow-y: auto;

    .card {
      min-height: auto;
      height: 200px;
    }
  }
  &__results-wrapper {
    // min-height: 200px;
  }
  &__result-message {
    text-align: center;
    font-style: italic;
  }
}

// Responsiveness
.search {
  @media (max-width: $l) {
    width: 100%;
  }
}
